header {
    position: fixed;
    width: 100%;
    background: black;
    color: white;
    margin: 0 !important;
}

header a {
    color: white !important;
    padding: 15px;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
}

header a:hover {
    background: #333;
}
